<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Stay Consistent!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ Html.RenderPartial("_NavBar"); }
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>This project was created between 05/04/2020 - 05/29/2020</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
