@model LetsStayConsistent.ViewModels.LogsAddViewModel

<div class="mt-3">
    <h2>Add Log</h2>
    <hr />

    @using (Html.BeginForm("Add", "Logs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Goals, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GoalId, Model.Goals, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GoalLog.Date, new { @class = "col-md-2" })
            <div class="col-md-10">
                <div class="LSC-date-picker">
                    @Html.TextBoxFor(m => m.GoalLog.Date, new { @class = "form-control selected-date", onchange="UpdateCalendar()" })
                    
                    <div class="dates">
                        <div class="month">
                            <div class="arrows prev-mth">&lt;</div>
                            <div class="mth"></div>
                            <div class="arrows next-mth">&gt;</div>
                        </div>

                        <div class="days"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-check">
                @Html.CheckBoxFor(m => m.GoalLog.WasCompleted, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.GoalLog.WasCompleted, new { @class = "form-check-label" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-dark btn-lg" />
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Logs", new { @class = "col-md-offset-2 col-md-10" })
</div>