<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark red-navbar mb-4">
      <a class="navbar-brand" href="#">BingeTogether</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t('home.link'), root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to t('events.link'), events_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="user-link">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "round-image" %>
              <% else %>
                <%= image_tag gravatar_image_tag(current_user.email), class: "round-image" %>
              <% end %>
              <%= link_to format_name(current_user), user_path(current_user), class: "nav-link" %>
            </li>
            <li>
              <%= link_to t('logout'), destroy_user_session_path, class: "nav-link" %>
            </li>
          <% else %>
            <li>
              <%= link_to t('login'), new_user_session_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to t('signup'), new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>