<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">BingeTogether</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to t('link.home'), root_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= root_path do %>
              <i class="glyphicon glyphicon-user">
                <%= current_user.username %></i>
              <% end %>
            </li>
            <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="glyphicon glyphicon-log-out">
                <%= t('logout') %></i>
            <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to t('login'), new_user_session_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to t('signup'), new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>